/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --darkPurple: rgb(33, 0, 55);
  --midPurple: rgb(60, 5, 105);
  --vibrantPurple: rgb(80, 10, 140);
  --lightPurple: rgb(190, 120, 240);
  --darkGray: rgb(33, 33, 33);
  --offDarkGray: rgb(44, 44, 44);
  --white: rgb(245, 245, 245);
  --purpWhite: rgb(230, 220, 255);
  --dark-purp-white: rgb(220, 210, 245);
  --black: rgb(22, 22, 22);
  --lightGray: rgb(150, 150, 150);
}
@media (prefers-color-scheme: light) {
  :root {
    --submitButton: var(--lightPurple);
    --color: var(--offDarkGray);
    --background-color: var(--white);
    --purpleButtons: var(--midPurple);
    --backgroundInput: var(--purpWhite);
    --borderColor: var(--darkGray);
    --textHighlight: var(--vibrantPurple);
    --popupBackground: rgba(150, 150, 150, 0.7);
    --popupFont: var(--black);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --submitButton: var(--midPurple);
    --color: var(--white);
    --background-color: var(--darkGray);
    --purpleButtons: var(--darkPurpWhite);
    --backgroundInput: var(--black);
    --borderColor: var(--offDarkGray);
    --textHighlight: var(--lightPurple);
    --popupBackground: rgba(20, 20, 20, 0.6);
    --popupFont: var(--white);
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
button,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Inter', sans-serif;
  vertical-align: baseline;
  background-color: var(--background-color);
  color: var(--color);
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
