#popup-container {
  display: flex;
  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: 15vh;
  width: 60vw;
  background-color: rgba(0, 0, 0, 0.11);
  border-radius: 20px;
}
