#popup-container {
  display: flex;
  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 15vh;
  margin-left: 25vw;
  width: 50vw;
  background-color: var(--popupBackground);
  color: var(--popupFont);
  border-radius: 20px;
  z-index: 10;
}
