#display-container {
  border: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 0.5rem;
}

#display-container button {
  border: none;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 5px;
  font-size: 1.5rem;
  color: var(--color);
}
#searchbar {
  justify-content: center;
  padding: 10px 15px;
  align-items: center;
  border: 1px solid rgb(66, 66, 66);
  transition: all 0.3s ease;
  background-color: var(--backgroundInput);
  color: var(--color);
}
#searchbar:focus {
  padding-left: 2rem;
  padding-right: 2rem;
  outline: none;
}
#search-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#magnifying-glass {
  padding: 5.5px 15px;
  width: auto;
  margin: 0;
  font-size: 1.5rem;
  float: right;
  background-color: var(--backgroundInput);
  border: 1px solid;
  border-color: var(--borderColor);
  border-left: none;
}
.item-name {
  font-size: 1.5rem;
  text-align: center;
  justify-content: center;
}
.item-container {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item-container span {
  display: flex;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
}
.item-container img {
  max-width: 400px;
  max-height: 300px;
}

.to-cart {
  margin-top: 5px;
  margin-bottom: 3px;
  display: flex;
}
.to-cart button {
  color: var(--textHighlight) !important;
}
.to-cart span {
  display: flex;
  align-items: center;
  margin-right: 200px;
}
.to-cart form button {
  cursor: pointer;
  transition: all 0.2s ease;
}
.to-cart form button:hover {
  transform: scale(1.1);
}
.to-cart form button:active {
  transform: scale(0.98);
}

#no-results {
  width: 100vw;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  #display-container {
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(80vw, 1fr));
  }
  #search-container {
    justify-content: center;
    align-items: center;
  }

  .item-container img {
    max-width: 90vw;
  }
}
