#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  border-bottom: 2px solid var(--offDarkGray);
  width: 100vw;
  height: 6vh;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
}

#user-info {
  display: flex;
  flex-direction: column;
}

#cart {
  display: flex;
  font-size: 2rem;
  text-align: center;
}
